#gallery {
    width: 90%;
    margin: auto;
    padding: 50px;
    
}

#gallery-container {
    height: 8332px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    
    
}

.gallery-image {
    display: inline-block;
    width: 400px;
    border-radius: 5px;
    padding: 8px;
    margin: 0 auto;
    cursor: pointer;
    &:hover{
        background: #000000; 
        opacity: 0.8;
    }
}

@media(max-width: 1750px) {
    #gallery {
        width: 100%;
    }

    #gallery-container {
        width: 1230px;
        height: 11332px;
        margin: auto;
    }
}

@media(max-width: 1330px) {
    #gallery {
        width: 100%;
    }
    #gallery-container {
        width: 820px;
        height: 16332px;
        margin: auto;
    }
}

@media(max-width: 888px) {
    #gallery-container {
            width:410px;
            height: 32332px;
            margin: auto;
        }
}