<nav id="navbar">
    <div id="navbar-container">
        <h1 class="logo">Wallpaper Anime</h1>
        <ul id="navbar-items">
            <li><a href="#showcase">Início</a></li>
            <li><a href="#clients">Sobre</a></li>
            <li><a href="#gallery">Galeria</a></li>
        </ul>
    </div>
</nav>

<header id="showcase">
    <div id="showcase-container">
        <h2>Imagens Animes</h2>
        <p>Wallpaper para baixar Imagens para Desktop e Mobile</p>
        <a href="" class="btn">Saiba mais</a>
    </div>
</header>
