<section id="gallery">
    <h2 class="headline">Galeria</h2>
    <div id="gallery-container">
        <div  *ngFor="let result of results | paginate: { itemsPerPage: itensPerPage, currentPage: p }">
            <img src="{{ result.miniatura }}" (click)="abrirImg(result)" alt="{{ result.nome }}" class="gallery-image">
        </div>
    </div>

    <div class="pag">
        <pagination-controls
         previousLabel=""
         nextLabel=""
        (pageChange)="p = $event">
        </pagination-controls>
    </div>
</section>