.midiaSocial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.midiaSocial a {
    display: flex;
    background: #297ccf;
    height: 68px;
    width: 68px;
    margin: 0 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px -1px rgba(168, 208, 224,0.14), -6px -6px 10px -1px 
    rgba(66, 141, 240);
    transition: 0.5s;
}

.midiaSocial a i {
    font-size: 35px;
    color: #000;
}

.midiaSocial a:hover i {
    transform: scale (0.90);
    color: #fff;
}

.midiaSocial a:hover {
    transform: scale (0.80);
}