<div class="app">
    <nav id="navbar">
        <div id="navbar-container">
            <a href="#showcase">
                <h1 class="logo">Wallpaper Anime</h1>
            </a>
            <ul id="navbar-items">
                <li (click)="scrollTo('categoria')">Categoria</li>
                <li (click)="goToGalery()">Galeria</li>
                <li (click)="goToContato()">Contato</li>
            </ul>
        </div>
    </nav>
    <ui-view></ui-view>
    <footer id="footer">
        <app-redes-sociais></app-redes-sociais>
        <p>Copyright 2022 - Todos os direitos reservados.</p>
        <p>Wallpaper Anime.</p>
    </footer>
    
</div>
