<section #categoria id="categoria">
    <div class="headline">Categorias</div>
    <ul id="categoria-container" >
        <li *ngFor="let categorie of categories; index as i;">
            <button (click)="gocategorie(categorie.nome)" class="primary">{{ categorie.nome }}</button>
        </li>   
    </ul>
</section>

<section id="features">
    <div class="headline">Wallpaper para</div>
    <div id="features-container">
        <div class="feature" >
            <a (click)="goToGalery('desktop')">
                <i class="fas fa-tachometer-alt fa-3x"></i>
                <span class="feature-title">Desktop.</span>
                <p>Uma Comunidade de Papel de Parede. Veja, baixe, avalie e comente sobre Papéis de Parede em HD, Imagens de fundo para
                Desktop.</p>
            </a>
        </div>
        <div class="feature">
            <a (click)="goToGalery('mobile')">
                <i class="fas fa-code fa-3x"></i>
                <span class="feature-title">Mobile.</span>
                <p>Mobile wallpaper, android wallpaper, iPhone wallpaper, download gratuito.</p>
            </a>
        </div>
        <div class="feature">
            <a (click)="goToGalery('tablet')">
                <i class="fas fa-layer-group fa-3x"></i>
                <span class="feature-title">Tablet.</span>
                <p>Uma Comunidade de Papel de Parede. Veja, baixe, avalie e comente sobre Papéis de Parede em HD, Imagens de fundo para
                Tablet.</p>
            </a>
        </div>
    </div>
</section>

<section id="product">
    <div class="headline">Mais Baixados</div>
    <div id="product-container">
        <div id="items">
            <app-carousel [images]="images" [autoSlide]="true" class=""></app-carousel>
        </div>
    </div>
</section>

<div id="testimonials">
    <div class="headline">Recentes</div>
    <div id="testimonials-container">
        <div class="testimonial">
            <app-mais-recentes></app-mais-recentes>
        </div>
    </div>
</div>