<section id="clients">
    <div class="headline">Categorias</div>
    <ul id="clients-container" >
        <li *ngFor="let categorie of categories; index as i;">
            <button class="primary">{{ categorie }}</button>
        </li>   
    </ul>
</section>

<section id="features">
    <div class="headline">Wallpaper para</div>
    <div id="features-container">
        <div class="feature">
            <i class="fas fa-tachometer-alt fa-3x"></i>
            <span class="feature-title">Desktop.</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores animi laboriosam illo, doloremque
                placeat et.</p>
        </div>
        <div class="feature">
            <i class="fas fa-code fa-3x"></i>
            <span class="feature-title">Mobile.</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores animi laboriosam illo, doloremque
                placeat et.</p>
        </div>
        <div class="feature">
            <i class="fas fa-layer-group fa-3x"></i>
            <span class="feature-title">Tablet.</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores animi laboriosam illo, doloremque
                placeat et.</p>
        </div>
    </div>
</section>

<section id="product">
    <div class="headline">Mais Baixados</div>
    <div id="product-container">
        <img src="/img/iphone-x.png" alt="" class="iphone-x">
        <div id="items">
            <div class="item">
                <i class="fas fa-map-marked fa-2x color-primary"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio expedita provident nam hic beatae
                    voluptate!</p>
            </div>
            <div class="item">
                <i class="fas fa-users fa-2x color-primary"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio expedita provident nam hic beatae
                    voluptate!</p>
            </div>
            <div class="item">
                <i class="fas fa-glass-cheers fa-2x color-primary"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio expedita provident nam hic beatae
                    voluptate!</p>
            </div>
            <div class="item">
                <i class="fas fa-book-open fa-2x"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio expedita provident nam hic beatae
                    voluptate!</p>
            </div>
        </div>
    </div>
</section>

<div id="testimonials">
    <div class="headline">Recentes</div>
    <div id="testimonials-container">
        <div class="testimonial">
            <img src="/img/person-1.jpeg" alt="" class="testimonial-image">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, autem dolores dolorum cumque
                voluptas eius. Eum quisquam illum error sapiente?</p>
        </div>
        <div class="testimonial">
            <img src="/img/person-2.jpeg" alt="" class="testimonial-image">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, autem dolores dolorum cumque
                voluptas
                eius. Eum quisquam illum error sapiente?</p>
        </div>
    </div>
</div>