<section #section2 id="contato">
    <h2 class="headline">Contato</h2>

    <div class="container">
        <form>
            <div class="form__group field">
                <input type="text"  class="form__field" placeholder="Nome"
                    name="Nome" id='Nome' required />
                <label for="name" class="form__label">Nome</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Email" name="Email" id='Email' required />
                <label for="email" class="form__label">Email</label>
            </div>
            <div class="form__group field">
                <textarea id="w3review" name="w3review" rows="4"
                class="form__field"  cols="50"></textarea>
                <label for="mensagem" class="form__label">Mensagem</label>
            </div>
            <button type="reset">Enviar Mensagem</button>
        </form>
        <div class="social-media">
            <span>
                Entrar em contato
            </span>
            <div>
                <a href="" target="blank_"><img class="icone" src="../../../../assets/img/facebook.svg"></a>
                <a href="" target="blank_"><img class="icone" src="../../../../assets/img/instagram.svg"></a>
                <a href="" target="blank_"><img class="icone" src="../../../../assets/img/tiktok.png"></a>
            </div>
        </div>
    </div>
</section>
<!-- This is not part of Pen -->
<a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank" style="color:#000"></a>