$primary: #000000;
$secondary: #38ef7d;
$white: #030101;
$gray: #9b9b9b;

h2{
    margin-top: 48px;
}

.icone{
    width: 24px;
}

.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    span{
        border-bottom: 1px solid #ccc;
    }
    div{
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        width: 80px;
    }
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin: 20px 0 0 20px;
}

.form__field {
    font-family: inherit;
    min-width: 700px;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 0.9rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 300;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

/* reset input */
.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

button {
    margin: 48px 24px;
    --c: #a1a1a1;
    /* the color*/
    width: 200px;
    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}

button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

button:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}


button {
    font-family: system-ui, sans-serif;
    font-size: 1.0rem;
    cursor: pointer;
    padding: .9em .8em;
    font-weight: bold;
    border: none;

}

@media(max-width: 768px) {
    .form__field{
        min-width: 400px;
    }
}