<!-- multistep form -->
<form id="msform">
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Crie sua Conta</h2>
        <input type="text" name="Nome" placeholder="Nome" />
        <input type="text" name="email" placeholder="Email" />
        <input type="text" name="birthdate" placeholder="Data Nascimento" />
        <input type="text" name="city" placeholder="Cidade" />
        <input type="text" name="state" placeholder="Estado" />
        <input type="password" name="password" placeholder="Senha" />
        <input type="password" name="password2" placeholder="Confirme Senha" />
        <input type="button" name="next" class="next action-button" value="Cadastrar" (click)="register()" />
    </fieldset>
</form>